{% block title %}
    Filter Books
{% endblock %}

{% block main %}
    <form action="/filter" method="get">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="title" placeholder="Title" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="author" placeholder="Author" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="genre" placeholder="Genre" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="year" placeholder="Year" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Filter</button>
    </form>
{% endblock %}